{{define "yield"}}
  <div>
    <h1>Search</h1>
    <form action="/search" method="POST">
      <label for="search">Search for your city</label>
      <input id="search" name="search" type="text" placeholder="Search"/>
      <input type="submit">
    </form>
  </div>
{{end}}