{{define "header"}}
  <header class="w-full flex justify-between border-b border-grey p-4">
    <a href="/">Home</a>
    <div>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    </div>
  </header>
{{end}}